<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Perfect\Service\Api\Data\ServiceInterface"
                type="Perfect\Service\Model\Service" />

    <preference for="Perfect\Service\Api\ServiceRepositoryInterface"
                type="Perfect\Service\Model\ServiceRepository"/>

</config>