*
!/.gitignore
!/env
!/env/**
!/src
!/src/app
!/src/app/*/
!/src/app/etc/config.php
!/src/app/code/**
!/src/app/design/**
!/src/app/i18n/**
!/src/pub/errors
!/src/pub/errors/nginx_error.html
!/src/pub/healthcheck.php
!/src/pub/healthcheck.txt
!/src/pub/maintenance
!/src/pub/maintenance/**
!/src/pub/media
!/src/pub/media/amasty
!/src/pub/media/amasty/**
!/src/pub/media/catalog
!/src/pub/media/catalog/product
!/src/pub/media/catalog/product/placeholder
!/src/pub/media/catalog/product/placeholder/default
!/src/pub/media/catalog/product/placeholder/default/*
!/src/pub/robots
!/src/pub/robots/*
!/src/pub/opcache.php
!/src/var
!/src/var/export/sample/quote_import_sample.csv
!/src/composer.json
!/src/composer.lock
!/src/php.ini
!/src/index-before.php
!/src/magento-patches
!/src/magento-patches/*