<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_perfect_event_entity_save_after">
        <observer name="perfect_event_service_entity_save_service"
                  instance="Perfect\EventService\Observer\SaveEntityService"/>
    </event>
</config>