<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!--  Perfect  -->
        <add id="Perfect_Event::perfect_event"
             title="Perfect"
             translate="title"
             module="Perfect_Event"
             sortOrder="35"
             resource="Perfect_Event::perfect_event" />

        <add id="Perfect_Event::perfect_event_list"
             title="Events Management"
             translate="title"
             module="Perfect_Event"
             sortOrder="10"
             parent="Perfect_Event::perfect_event"
             action="perfect_event/index"
             resource="Perfect_Event::perfect_event" />

        <add id="Perfect_Event::perfect_event_timetable"
             title="Timetable"
             translate="title"
             module="Perfect_Event"
             sortOrder="20"
             parent="Perfect_Event::perfect_event"
             action="perfect_event/timetable"
             resource="Perfect_Event::perfect_timetable" />
    </menu>
</config>