.wrapper-pdf-block {
    color: #333333;
    font-family: 'Open Sans';
}
.wrapper-pdf-block .title {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 30px;
}
.wrapper-pdf-block .title .line{
    display: block;
    width: 46px;
    height: 3px;
    font-size: 16px;
    background-color: #ed1b24;
    margin-top: 20px;
}
.product-info {
    margin-bottom: 30px;
    width: 100%;
}
.product-info tr td {
    vertical-align: top;
    width: 75%;
}
.product-info tr td + td {
    width: 25%;
}
.product-info .date {
    font-weight: bold;
    font-size: 17px;
}
.product-info .image {
    padding: 0 20px;
    text-align: right;
    width: 100%;
}
.wrapper-pdf-block .address {
    font-size: 17px;
    line-height: 1.2;
    font-weight: normal;
}

.ticket-data-wrapper {
    padding: 25px;
    background-color: #f7f6fa;
    overflow: hidden;
    border: 1px dashed #bbbbbb;
    border-left: none;
    border-right: none;
    margin-bottom: 30px;
}
.ticket-data-wrapper .ticket-info {
    width: 50%;
    float: left;
}
.ticket-data-wrapper .ticket-code {
    width: 50%;
    float: right;
    position: relative;
    overflow: hidden;
    text-align: right;
}

.ticket-code .qr-code {
    margin-bottom: 20px;
}
.barcode {
    transform: rotate(-45deg);
}
.element-info {
    margin-bottom: 20px;
    padding-right: 20px;
}
.ticket-info .label,
.label-address,
.date .label-date{
    line-height: 1;
    text-transform: uppercase;
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    margin-bottom: 3px;
}
.ticket-info .text-info {
    line-height: 1.2;
    font-size: 17px;
    font-weight: bold;
}

.other-content {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.4;
    font-size: 12px;
    color: #999999;
}
.other-content p {
    margin-bottom: 20px;
}
.other-content img {
    display: inline-block;
    margin-top: 10px;
}