<fieldset class="admin__fieldset" style="padding-top: 2rem;">
    <div class="admin__field-complex">
        <div class="admin__field-complex-elements">
            <button type="button" class="action-basic" data-bind="click: addService" data-index="button_add">
                <span data-bind="text: 'Добавить услугу'"></span>
            </button>
        </div>
        <div class="admin__field-complex-content">
            <div class="service_container_info">
                <div class="col-xs-6 m-b" style="float: left; width: 50%; margin-bottom: 15px;">
                    <i class="fa fa-credit-card" style="vertical-align: middle;"></i>
                    <b><small>1200</small><i class="fa fa-uah" style="vertical-align: middle;margin-left: 2px;"></i></b>
                </div>
                <div class="col-xs-6 text-right m-b">
                    <i class="fa fa-clock-o" style="vertical-align: middle;"></i>
                    <b><small data-rec-services__total-length="">2 ч.  (10:45 - 12:45)</small></b>
                </div>
            </div>
        </div>
    </div>
    <div class="admin__field" data-index="event-service-name" style="margin-bottom: 0;width: 100%;">
        <div class="event-admin__field-control" style="margin-left: 30px;float: left;width: 100%;">
            <table class="admin__dynamic-rows admin__control-collapsible event-service-table">
                <thead>
                    <tr>
                        <td>
                            <div class="fieldset-wrapper admin__collapsible-block-wrapper">
                                <div class="fieldset-wrapper-title">
                                    <div class="title admin__collapsible-title">
                                        <span data-bind="text: 'New Service'"></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</fieldset>