<!--@subject @-->
{{inlinecss file="Aheadworks_EventTickets::css/pdf.css"}}

<div class="wrapper-pdf-block">
    <div class="title">
        <div>
            {{var ticket.getEventTitle()}}
        </div>
        <div class="line"></div>
    </div>

    <table class="product-info">
        <tbody>
            <tr>
                <td>
                    <div class="date">
                        <div class="label-date">
                            {{trans
                               'Date and time'
                            }}
                        </div>
                        <div>
                            {{var eventStartDateFormatted}} - {{var eventEndDateFormatted}}
                        </div>
                    </div>
                    <br />
                    <div class="address">
                        <div class="label-address">
                            {{trans
                                'Address'
                            }}
                        </div>
                        <div>
                            {{var ticket.getEventAddress()}}
                        </div>
                    </div>
                </td>
                <td>
                    {{depend eventImageUrl}}
                        <div class="image">
                            <img src="{{var eventImageUrl}}" width="200" alt="{{var ticket.getEventTitle()}}" />
                        </div>
                    {{/depend}}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="ticket-data-wrapper">
        <div class="ticket-info">
            <div class="element-info">
                <div class="label">
                    {{trans
                        'Ticket type'
                    }}
                </div>
                <div class="text-info">
                    {{var ticket.getTicketTypeStorefrontTitle()}}
                </div>
            </div>
            <div class="element-info">
                <div class="label">
                    {{trans
                        'Sector'
                    }}
                </div>
                <div class="text-info">
                    {{var ticket.getSectorStorefrontTitle()}}
                </div>
            </div>
            {{depend attendee}}
                <div class="element-info">
                    <div class="label">
                        {{trans
                            'Attendee'
                        }}
                    </div>
                    <div class="text-info">
                        {{var attendee}}
                    </div>

                </div>
            {{/depend}}
            <div class="element-info">
                <div class="label">
                    {{trans
                        'Ticket #'
                    }}
                </div>
                <div class="text-info">
                    {{var ticket.getNumber()}}
                </div>
            </div>
            <div class="element-info">
                <div class="label">
                    {{trans
                        'Price'
                    }}
                </div>
                <div class="text-info">
                    {{var priceFormatted}}
                </div>
            </div>
        </div>
        <div class="ticket-code">
            <div class="qr-code">
                {{var qrCode |raw}}
            </div>
            <div class="bar-code">
                {{var barCode |raw}}
            </div>
        </div>
    </div>

    <div class="other-content">
        other useful information goes here
    </div>
</div>