<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Perfect\EventService\Api\Data\EventServiceInterface"
                type="Perfect\EventService\Model\EventService" />

    <preference for="Perfect\EventService\Api\EventServiceRepositoryInterface"
                type="Perfect\EventService\Model\EventServiceRepository"/>

</config>