<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="awEventTicketsOptions" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\EventTickets\Ui\DataProvider\Product\Form\Modifier\EventTicketOptions</item>
                    <item name="sortOrder" xsi:type="number">15</item>
                </item>
                <item name="awEventTicketsScheduleOptions" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\EventTickets\Ui\DataProvider\Product\Form\Modifier\ScheduleOptions</item>
                    <item name="sortOrder" xsi:type="number">16</item>
                </item>
                <item name="awEventTicketsPersonalization" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\EventTickets\Ui\DataProvider\Product\Form\Modifier\EventTicketPersonalization</item>
                    <item name="sortOrder" xsi:type="number">17</item>
                </item>
                <item name="awEventTicketsSpacePanel" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\EventTickets\Ui\DataProvider\Product\Form\Modifier\SpacePanel</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="awEventTicketsSectorProducts" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\EventTickets\Ui\DataProvider\Product\Form\Modifier\SectorProducts</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
                <item name="awEventTicketsStockData" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\EventTickets\Ui\DataProvider\Product\Form\Modifier\StockData</item>
                    <item name="sortOrder" xsi:type="number">40</item>
                </item>
                <item name="awEventTicketsCustomOptions" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\EventTickets\Ui\DataProvider\Product\Form\Modifier\CustomOptions</item>
                    <item name="sortOrder" xsi:type="number">80</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper">
        <plugin name="aw-et-product-initialize" type="Aheadworks\EventTickets\Plugin\Controller\Catalog\Adminhtml\Product\InitializationHelperPlugin" />
    </type>
    <type name="Aheadworks\EventTickets\Model\Ticket\Email\UrlBuilder">
        <arguments>
            <argument name="frontendUrlBuilder" xsi:type="object">Magento\Framework\Url</argument>
        </arguments>
    </type>
    <type name="Aheadworks\EventTickets\Ui\DataProvider\Event\ListingDataProvider">
        <arguments>
            <argument name="addFieldStrategies" xsi:type="array">
                <item name="aw_et_status" xsi:type="object">Aheadworks\EventTickets\Ui\DataProvider\Event\AddFieldStrategy\AddStatusFieldToCollection</item>
            </argument>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="aw_et_status" xsi:type="object">Aheadworks\EventTickets\Ui\DataProvider\Event\AddFilterStrategy\AddStatusFilterToCollection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Backend\Model\Menu\Item">
        <plugin name="aw-et-menu-item" type="Aheadworks\EventTickets\Plugin\Model\Backend\MenuItemPlugin" />
    </type>
    <type name="Magento\Catalog\Model\Product\CopyConstructor\Composite">
        <arguments>
            <argument name="constructors" xsi:type="array">
                <item name="awEventTicket" xsi:type="string">Aheadworks\EventTickets\Model\Product\CopyConstructor\EventTicket</item>
            </argument>
        </arguments>
    </type>
</config>
