<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aheadworks_EventTickets::home" title="Event Tickets by Aheadworks" module="Aheadworks_EventTickets" sortOrder="100" parent="Magento_Catalog::catalog" resource="Aheadworks_EventTickets::home"/>
        <add id="Aheadworks_EventTickets::venues" title="Venues" module="Aheadworks_EventTickets" sortOrder="10" parent="Aheadworks_EventTickets::home" action="aw_event_tickets/venue/index" resource="Aheadworks_EventTickets::venues"/>
        <add id="Aheadworks_EventTickets::spaces" title="Spaces" module="Aheadworks_EventTickets" sortOrder="20" parent="Aheadworks_EventTickets::home" action="aw_event_tickets/space/index" resource="Aheadworks_EventTickets::spaces"/>
        <add id="Aheadworks_EventTickets::events" title="One-Time Events &amp; Tickets" module="Aheadworks_EventTickets" sortOrder="30" parent="Aheadworks_EventTickets::home" action="aw_event_tickets/event/index" resource="Aheadworks_EventTickets::events"/>
        <add id="Aheadworks_EventTickets::recurring_events" title="Recurring Events &amp; Tickets" module="Aheadworks_EventTickets" sortOrder="40" parent="Aheadworks_EventTickets::home" action="aw_event_tickets/recurring_event/index" resource="Aheadworks_EventTickets::recurring_events"/>
        <add id="Aheadworks_EventTickets::ticket_types" title="Ticket Types" module="Aheadworks_EventTickets" sortOrder="50" parent="Aheadworks_EventTickets::home" action="aw_event_tickets/ticketType/index" resource="Aheadworks_EventTickets::ticket_types"/>
    </menu>
</config>
