<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="aw_event_tickets" frontName="aw_event_tickets">
            <module name="Aheadworks_EventTickets" before="Magento_Backend" />
        </route>
    </router>
</config>
