<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="aheadworks" translate="label" sortOrder="300">
            <label>Aheadworks Extensions</label>
        </tab>
        <section id="aw_event_tickets" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Event Tickets</label>
            <tab>aheadworks</tab>
            <resource>Aheadworks_EventTickets::config_aw_event_tickets</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="create_ticket_by_order_status" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Create Ticket by Order Status</label>
                    <source_model>Aheadworks\EventTickets\Model\Source\Order\Status</source_model>
                </field>
                <field id="ticket_management_group_on_storefront" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Ticket Management Group on Storefront</label>
                    <source_model>Aheadworks\EventTickets\Model\Source\Customer\Groups</source_model>
                </field>
                <field id="ticket_require_shipping" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Tickets Require Shipping</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="url_to_events_category" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>URL to The Events Category</label>
                    <comment><![CDATA[Will be used on the products which are available for purchase exclusively with the tickets. Absolute or relative paths are allowed]]></comment>
                </field>
                <field id="hide_past_events" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Hide Past Events from Catalog</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Events will be hidden when their end date has passed.</comment>
                </field>
            </group>
            <group id="email" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Settings</label>
                <field id="sender" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notification Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="new_ticket_template" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ticket Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="ticket_template_pdf" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ticket Template Pdf</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="number_pattern" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Ticket Number Pattern</label>
                <field id="number_length" translate="label,comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Number Length</label>
                    <comment><![CDATA[Excluding prefix, suffix, and separators. Min length is 8.]]></comment>
                    <validate>validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="number_format" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number Format</label>
                    <source_model>Aheadworks\EventTickets\Model\Source\Ticket\NumberFormat</source_model>
                </field>
                <field id="number_prefix" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Number Prefix</label>
                </field>
                <field id="number_suffix" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Number Suffix</label>
                </field>
                <field id="dash_every_x_characters" translate="label,comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Dash Every X Characters</label>
                    <comment><![CDATA[If empty no separation]]></comment>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>
