<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Perfect\Event\Api\Data\EventInterface"
                type="Perfect\Event\Model\Event"/>

    <preference for="Perfect\Event\Api\EventRepositoryInterface"
                type="Perfect\Event\Model\EventRepository"/>

    <!-- - - - - - - - - - - Grid configurations - - - - - -->

    <virtualType name="Perfect\Event\Model\ResourceModel\Event\GridCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">perfect_event</argument>
            <argument name="resourceModel"
                      xsi:type="string">Perfect\Event\Model\ResourceModel\Event
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="perfect_event_listing_data_source"
                      xsi:type="string">Perfect\Event\Model\ResourceModel\Event\GridCollection
                </item>
            </argument>
        </arguments>
    </type>

</config>